.sidebar {
    background: #FF6F59;
    height: 90vh;
    transition: 0.25s ease-in;
    position: sticky; 
    top: 10vh;
}

.toggle-button {
    background: transparent;
    border: 3px solid;
    width: 85%;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 0.25s ease-in;
}

.toggle-button:hover {
    cursor: pointer;
}

.notice {
    text-align: center;
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes appear {
    from { opacity: 0;}
    to {opacity: 1}
}