.navbar {
    width: 100%;
    height: 10vh;
    background: #880808;
    color: white;
    display: table;
    position: sticky; 
    top: 0;
    z-index: 2;
}

.navbar > * {
    display: table-cell; 
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .navbar {
      height: 10vh;
    }
  }
